.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
html {
  background-color: #af8baf;
}
.form{
  display: flex;
  margin: 0% auto;
  justify-content: center;
  
}
.formEl{
  display: flex;
  margin: 0% auto;
  align-items: center;
  flex-direction: column;
  background-color: #584153;
  padding: 20px;
  margin-top: 30px;
  border-radius: 10px;
  color: #f6acc8;
}
.memberCard{
  display: flex;
  margin: 0% auto;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 30px;
  padding-bottom: 20px;
  
  background-color: #f6acc8;
  color: #26191b;
  border-radius: 10px;
}
.inputBox{
  padding: 2px;
  background-color: #af8baf;
  border: 2px solid #26191b;
}
.subBut{
  margin-top: 15px;
  width: 50%;
  background-color: #af8baf;
  border: 2px solid #8f718f;
  padding: 5px;
  border-radius: 6px;
}
.subBut:hover{
  background-color: #8f718f;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
